ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;

  li {
    padding: 10px;
    max-width: 320px;

    img {
      width: 320px;
      height: 249px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 10px;
    }

    p {
      color: wheat;
      cursor: pointer;
    }
  }
}

