header {
  display: flex;
  height: 50px;
  background: black;

  div {
    display: flex;
    color: white;
    align-items: center;
    text-align: center;
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
